# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - app111

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: contenedor22.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3430B67290B449658BF0CE3F0C6B88C3 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_E1E6C77EB8894FA9B404945FEF41AB42 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: contenedor22.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3430B67290B449658BF0CE3F0C6B88C3 }}/miimagen:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'app111'
          slot-name: 'Production'
          images: 'contenedor22.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3430B67290B449658BF0CE3F0C6B88C3 }}/miimagen:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_7D2A8585B2924D8A88D737F5D7C3CE97 }}